<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="FirstTime" value="False" />
        <add key="Webhook" value="https://discord.com/api/webhooks/1037553457701339220/Ey-PObZnbaG3fH-5qHQclm1eEwYw_HtglcmxcWrf8uhcdDPXTliWTnW9hwNcmiKMHla6" />
    </appSettings>
</configuration>